.slider-contaner { 
  width:100%; 
  position:relative; 
  overflow: hidden;
}
.carousel-item {
  max-height: 500px;
  overflow: hidden;
}
.introduce {
  position: absolute;
  top:35%;
  left: 20%;
}
.list:hover {
  background-color: gray;
  cursor: pointer;
}
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  left: 0;
}
.carousel-item, img {
  opacity: 0.9;
}